/*
 */

/dts-v1/;
#include "kirkwood.dtsi"
#include "kirkwood-6281.dtsi"

/ {
	model = "Buffalo Terastation TS-XEL";
	compatible = "buffalo,tsxel", "marvell,kirkwood-88f6281", "marvell,kirkwood";

//	chosen
//	{
//		bootargs = "console=ttyS0,115200n8 earlyprintk";
//		stdout-path = &uart0;
//	};

	memory
	{
		device_type = "memory"; 
		reg = <0x00000000 0x10000000>; /* 256 MB */
	};
	
	ocp@f1000000
	{
		pinctrl: pin-controller@10000
		{
			hdd1_present: hdd1-present
			{
				marvell,pins = "mpp39";
				marvell,function = "gpio";
			};

			hdd2_present: hdd2-present
			{
				marvell,pins = "mpp40";
				marvell,function = "gpio";
			};

			hdd3_present: hdd3-present
			{
				marvell,pins = "mpp41";
				marvell,function = "gpio";
			};

			hdd4_present: hdd4-present
			{
				marvell,pins = "mpp42";
				marvell,function = "gpio";
			};

			rear_switch: rear-switch
			{
				marvell,pins = "mpp43";
				marvell,function = "gpio";
			};

			pmx_usb_vbus1: pmx-usb-vbus1
			{
				marvell,pins = "mpp47";
				marvell,function = "gpio";
			};

			pmx_usb_vbus2: pmx-usb-vbus2
			{
				marvell,pins = "mpp48";
				marvell,function = "gpio";
			};
		};
				
		serial@12000
		{
			status = "okay";
		};

		serial@12100
		{
			status = "okay";
		};

		sata@80000
		{
			nr-ports = <1>;
			status = "okay";
		};
	};

	restart_poweroff
	{
		compatible = "restart-poweroff";
	};

	regulators
	{
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = <&pmx_usb_vbus1 &pmx_usb_vbus2>;
		pinctrl-names = "default";

		usb_power1: regulator@1
		{
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "USB Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		};

		usb_power2: regulator@2
		{
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "USB Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio1 16 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio-keys
	{
		compatible = "gpio-keys";
		pinctrl-0 = <&hdd1_present &hdd2_present &hdd3_present &hdd4_present &rear_switch>;
		pinctrl-names = "default";

		hdd1-present
		{
			label = "Hard Disk 1 Present";
			linux,code = <KEY_PROG1>;
			gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
		};

		hdd2-present
		{
			label = "Hard Disk 2 Present";
			linux,code = <KEY_PROG2>;
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
		};

		hdd3-present
		{
			label = "Hard Disk 3 Present";
			linux,code = <KEY_PROG3>;
			gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
		};

		hdd4-present
		{
			label = "Hard Disk 4 Present";
			linux,code = <KEY_PROG4>;
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
		};

		rear-switch
		{
			label = "Rear Switch";
			linux,code = <KEY_ESC>;
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
		};
	};
};

&mdio 
{
	status = "okay";
	ethphy0: ethernet-phy@0 
	{
		device_type = "ethernet-phy";
		reg = <0>;
	};

	ethphy1: ethernet-phy@8
	{
		device_type = "ethernet-phy";
		reg = <8>;
	};
};

&eth0 
{
	status = "okay";
	ethernet0-port@0 
	{
		phy-handle = <&ethphy0>;
	};
};

&eth1
{
	status = "okay";
	ethernet1-port@0
	{
		phy-handle = <&ethphy1>;
	};
};

&nand
{
	status = "okay";

	partition@0
	{
		label = "boot";
		reg = <0x0000000 0x1000000>;
		read-only;
	};

	partition@1000000
	{
		label = "rootfs";
		reg = <0x1000000 0xFE800000>;
		read-only;
	};

	partition@FF800000
	{
		label = "reserve";
		reg = <0xFF800000 0x00800000>;
		read-only;
	};
};

&spi0
{
	status = "okay";

	spi-flash@0
	{
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p40", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <25000000>;

		partition@00000
		{
			label = "u-boot";
			reg = <0x00000 0x70000>;
			read-only;
		};

		partition@70000
		{
			label = "u-boot-env";
			reg = <0x70000 0x10000>;
			read-only;
		};
	};
};
