// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
* Device Tree file for Buffalo Linkstation LS220D
*
* Jeremy J. Peper, based on device trees created by
* Steve Shih <shihsung@gmail.com> and Toha <tohenk@yahoo.com>
*
*/

/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include "armada-370.dtsi"

/ {
	model = "Buffalo Linkstation LS220D";
	compatible = "buffalo,ls220d", "marvell,armada370", "marvell,armada-370-xp";

	chosen
	{
		bootargs = "earlyprintk boot=local";
		stdout-path = "serial0:115200n8";
	};

	memory
	{
		device_type = "memory";
		reg = <0x00000000 0x10000000>; /* 256 MB */
	};

	soc
	{
		ranges = <MBUS_ID(0xf0, 0x01) 0 0xd0000000 0x100000
				  MBUS_ID(0x01, 0xe0) 0 0xfff00000 0x100000
				  MBUS_ID(0x09, 0x01) 0 0xf1100000 0x10000>;

		internal-regs
		{
			serial@12000
			{
				status = "okay";
			};

			sata@a0000
			{
				nr-ports = <2>;
				status = "okay";
			};

			timer@20300
			{
				status = "okay";
			};

			mdio
			{
				/* Marvell 88E1518 */
				phy0: ethernet-phy@0
				{
					reg = <0>;

					/*
					Set control registers for the chip's LED pins
					On=Low, Off=High
					LED0: Force hi-impedance (not connected?)
					LED1: On - Link, Blink - Activity, Off - No Link
					LED2: Force hi-impedance (not connected?)
					*/
 
					marvell,reg-init = <0x3 0x10 0xf000 0x0A1A>;
				};
			};

			ethernet@74000
			{
				status = "okay";
				phy = <&phy0>;
				phy-mode = "rgmii-id";
			};			

			usb@50000
			{
				status = "okay";
			};

			spi@10600
			{
				status = "okay";

				spi-flash@0
				{
					#address-cells = <1>;
					#size-cells = <1>;
					compatible = "mx25l8005", "jedec,spi-nor";
					reg = <0>;
					spi-max-frequency = <50000000>;

					partition@00000
					{
						label = "u-boot";
						reg = <0x00000 0xf0000>;
						read-only;
					};

					partition@f0000
					{
						label = "u-boot-env";
						reg = <0xf0000 0x10000>;
						read-only;
					};
				};
			};

			pinctrl
			{
				hdd_pwr2: hdd-pwr2
				{
					marvell,pins = "mpp2";
					marvell,function = "gpo";
				};

				function_led_red: function-led-red
				{
					marvell,pins = "mpp7";
					marvell,function = "gpo";
				};

				hdd_pwr1: hdd-pwr1
				{
					marvell,pins = "mpp8";
					marvell,function = "gpo";
				};

				fan_alarm: fan-alarm
				{
					marvell,pins = "mpp10";
					marvell,function = "gpio";
				};

				hdd1_present: hdd1-present
				{
					marvell,pins = "mpp11";
					marvell,function = "gpio";
				};

				hdd2_present: hdd2-present
				{
					marvell,pins = "mpp12";
					marvell,function = "gpio";
				};

				fan_high: fan-high
				{
					marvell,pins = "mpp13";
					marvell,function = "gpio";
				};

				fan_low: fan-low
				{
					marvell,pins = "mpp14";
					marvell,function = "gpio";
				};

				power_switch: power-switch
				{
					marvell,pins = "mpp15";
					marvell,function = "gpio";
				};

				function_button: function-button
				{
					marvell,pins = "mpp16";
					marvell,function = "gpio";
				};

				power_led_white: power-led-white
				{
					marvell,pins = "mpp54";
					marvell,function = "gpo";
				};

				power_led_red: power-led-red
				{
					marvell,pins = "mpp55";
					marvell,function = "gpio";
				};

				power_led_orange: power-led-orange
				{
					marvell,pins = "mpp57";
					marvell,function = "gpio";
				};

				function_led_white: function-led-white
				{
					marvell,pins = "mpp59";
					marvell,function = "gpo";
				};

				hdd1_led_red: hdd1-led-red
				{
					marvell,pins = "mpp61";
					marvell,function = "gpo";
				};

				hdd2_led_red: hdd2-led-red
				{
					marvell,pins = "mpp62";
					marvell,function = "gpio";
				};
			};

			nand@d0000
			{
				status = "okay";
				num-cs = <1>;
				marvell,nand-keep-config;
				marvell,nand-enable-arbiter;
				nand-on-flash-bbt;

				/* Use Hardware BCH ECC */
				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;

				partition@0
				{
					label = "boot";
					reg = <0x00000000 0x02000000>;  /* 32MB */
				};

				partition@02100000
				{
					label = "rootfs";
					reg = <0x02000000 0x1e000000>;  /* 480MB */
				};
			};
		};
	};

	regulators
	{
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = <&hdd_pwr1 &hdd_pwr2>;
		pinctrl-names = "default";

		regulator@1
		{
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "HDD1 power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		};

		regulator@2
		{
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "HDD2 power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio-leds
	{
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&power_led_white &power_led_red &power_led_orange &function_led_red &function_led_white 
				&hdd1_led_red &hdd2_led_red>;

		function-led-red
		{
			label = "led:function:red";
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		power-led-white
		{
			label = "led:power:white";
			gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		power-led-red
		{
			label = "led:power:red";
			gpios = <&gpio1 23 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		power-led-orange
		{
			label = "led:power:orange";
			gpios = <&gpio1 25 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		function-led-white
		{
			label = "led:function:white";
			gpios = <&gpio1 27 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		hdd1-led-red
		{
			label = "led:hdd1:red";
			gpios = <&gpio1 29 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		hdd2-led-red
		{
			label = "led:hdd2:red";
			gpios = <&gpio1 30 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	restart_poweroff
	{
		compatible = "restart-poweroff";
	};

	gpio-keys
	{
		compatible = "gpio-keys";
		pinctrl-0 = <&power_switch &function_button &hdd1_present &hdd2_present>;
		pinctrl-names = "default";

		hdd1-present
		{
			label = "Hard Disk 1 Present";
			linux,code = <KEY_PROG1>;
			gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
		};

		hdd2-present
		{
			label = "Hard Disk 2 Present";
			linux,code = <KEY_PROG2>;
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
		};

		power-switch
		{
			label = "Power Switch";
			linux,code = <KEY_ESC>;
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
		};

		function-button
		{
			label = "Function Button";
			linux,code = <KEY_OPTION>;
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
		};
	};

	gpio-fan
	{
		compatible = "gpio-fan";
		pinctrl-0 = <&fan_low &fan_high &fan_alarm>;
		pinctrl-names = "default";
		gpios = <&gpio0 14 GPIO_ACTIVE_LOW
		         &gpio0 13 GPIO_ACTIVE_LOW>;
		gpio-fan,speed-map = <0    3
		                      1500 2
		                      3250 1
		                      5000 0>;
		alarm-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
	};
};
