/*
 * Copyright (C) 2014 Thomas Petazzoni <thomas.petazzoni@free-electrons.com>
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2. This program is licensed "as is" without any
 * warranty of any kind, whether express or implied.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "orion5x-mv88f5182.dtsi"

/ {
	model = "Buffalo Linkstation LS-QL";
	compatible = "marvell,orion5x-88f5182", "marvell,orion5x";

	memory
	{
		reg = <0x00000000 0x8000000>; /* 128 MB */
	};

	chosen
	{
		bootargs = "console=ttyS0,115200n8 earlyprintk";
		linux,stdout-path = &uart0;
	};

	soc
	{
		ranges = <MBUS_ID(0xf0, 0x01) 0 0xf1000000 0x100000>,
			 <MBUS_ID(0x09, 0x00) 0 0xf2200000 0x800>,
			 <MBUS_ID(0x01, 0x0f) 0 0xf4000000 0x80000>,
			 <MBUS_ID(0x01, 0x1d) 0 0xfc000000 0x1000000>;
	};

	gpio-leds
	{
		compatible = "gpio-leds";
		pinctrl-0 = <&pmx_led_function_blue &pmx_led_power_red &pmx_led_power_amber>;
		pinctrl-names = "default";

		blue-power-led
                {
                        label = "linkstation:power-blue";
                        gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
                        default-state = "on";
                };

		power-red
		{
			label = "linkstation:power-red";
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
		};

		power-amber
		{
			label = "linkstation:power-amber";
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		};

		blue-function-led
		{
			label = "linkstation:function-blue";
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
		};

	};

	gpio_fan
	{
		compatible = "gpio-fan";
		pinctrl-0 = <&pmx_fan_low &pmx_fan_high &pmx_fan_lock>;
		pinctrl-names = "default";

		gpio-fan,speed-map =
			<0	      3
			1500    2
			3250    1
			5000    0>;

		gpios = <&gpio0 14 GPIO_ACTIVE_LOW
			 &gpio0 17 GPIO_ACTIVE_LOW>;

		alarm-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
	};


	//although binding for the gpio controller lists 32 pins,
	//The orion-pinctrl driver only has entries for MPP0-MPP19
	//the auto switch can be observed changing the value of GPIO22
	//from userspace but the gpio-key driver sees it as invalid.
	//orion-pinctrl should probably be patched to correct this.
	gpio-keys
	{
		compatible = "gpio-keys";
		pinctrl-0 = <&pmx_function_button &pmx_power_button>; // &pmx_auto_switch>;
		pinctrl-names = "default";
		#address-cells = <1>;
		#size-cells = <0>;
	  
		function-button
		{
			label = "Function Button";
			linux,code = <KEY_OPTION>;
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
		};

		power-button
		{
			label = "Power Button";
			linux,code = <KEY_PROG1>;
			gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
		};

/*
		autopower
		{
			label = "Power-auto Switch";
			linux,input-type = <EV_SW>;
			linux,code = <KEY_ESC>; 
			gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
		};
*/
	};

	regulators
	{
                compatible = "simple-bus";
                #address-cells = <1>;
                #size-cells = <0>;
                pinctrl-0 = <&pmx_power_usb>;
                pinctrl-names = "default";

                usb_power: regulator@0
		{
                        compatible = "regulator-fixed";
                        reg = <0>;
                        regulator-name = "USB Power";
                        regulator-min-microvolt = <5000000>;
                        regulator-max-microvolt = <5000000>;
                        enable-active-high;
                        regulator-always-on;
                        regulator-boot-on;
			gpio = <&gpio0 9 GPIO_ACTIVE_HIGH>;
                };
        };

	restart_poweroff
	{
                compatible = "restart-poweroff";
        };
};


&devbus_bootcs {
	status = "okay";
	devbus,keep-config;

	flash@0 {
		compatible = "jedec-flash";
		reg = <0 0x40000>;
		bank-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			header@0 {
				reg = <0 0x30000>;
				read-only;
			};

			uboot@30000 {
				reg = <0x30000 0xF000>;
				read-only;
			};

			uboot_env@3F000 {
				reg = <0x3F000 0x1000>;
			};
		};
	};
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&eth {
	status = "okay";

	ethernet-port@0 {
		phy-handle = <&ethphy>;
	};
};

&i2c {
	status = "okay";
	clock-frequency = <100000>;
	#address-cells = <1>;

	rs5c372: rs5c372@32
	{
		compatible = "ricoh,rs5c372a";
		reg = <0x32>;
	};

};

&mdio {
	status = "okay";

	ethphy: ethernet-phy {
		reg = <8>;
	};
};

&pinctrl
{
	pmx_led_power_blue: pmx-led-power-blue
        {
                marvell,pins = "mpp0";
                marvell,function = "gpio";
        };

	pmx_led_power_red: pmx_led_power_red
	{
		marvell,pins = "mpp2";
		marvell,function = "gpio";
	};

	pmx_led_power_amber: pmx-led-power-amber 
	{
		marvell,pins = "mpp3";
		marvell,function = "gpio";
	};

	pmx_fan_lock: pmx-fan-lock
	{
		marvell,function = "gpio";
		marvell,pins = "mpp6";
	};

	pmx_function_button: pmx-function-button
	{
		marvell,pins = "mpp7";
		marvell,function = "gpio";
	};

	pmx_power_usb: pmx-power-usb
	{
		marvell,pins = "mpp9";
                marvell,function = "gpio";
        };

	pmx_power_button: pmx-power-button
	{
		marvell,pins = "mpp10";
		marvell,function = "gpio";
	};

	pmx_fan_low: pmx-fan-low
	{
		marvell,function = "gpio";
		marvell,pins = "mpp14";		
	};

	pmx_fan_high: pmx-fan-high
	{
		marvell,function = "gpio";
		marvell,pins = "mpp17";
	};

	pmx_led_function_blue: pmx-led-function-blue
        {
                marvell,pins = "mpp18";
                marvell,function = "gpio";
        };

	pmx_auto_switch: pmx-auto-switch 
	{
		marvell,pins = "mpp22";
		marvell,function = "gpio";
	};

};

&sata
{
	status = "okay";
	nr-ports = <1>;
};

&uart0
{
	status = "okay";
};
