[Unit]
Description=Terastation Fan Service

[Service]
Type=simple
ExecStart=/usr/local/bin/micon_scripts/micon_fan_daemon.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
