[Unit]
Description=Tell terastation it finished booting so it doesnt shutdown
Wants=network-online.target                                                                                  
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ts3000_scripts/ts3000_startup

[Install]
WantedBy=multi-user.target
